/********************
YOUR STYLES
*******************/

/* Title */

article {
    margin: 0 auto;
    padding: 3em;
}

h1 {
    text-align: center;
}

/* Photo */

/* First Frame*/


/* Last Frame */


/* Key Frame Animation*/


/********************
MEDIA QUERIES
*******************/


/* Desktop */

@media (min-width: 1200px) {}


/* Tablet */

@media (min-width: 768px) {}


/* Mobile */

@media (min-width: 480px) {}